name: Update pins

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
  push:
    branches:
      - main
    paths:
      - pins/sources.json

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get matrix
        id: get-matrix
        run: |
          echo "matrix=$(jq -c '.pins | keys' ./pins/sources.json)" >> $GITHUB_OUTPUT

  get-date:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.get-date.outputs.date }}
    steps:
      - name: Get date
        id: get-date
        run: |
          echo "date=$(date -I)" >> $GITHUB_OUTPUT

  update-pins:
    runs-on: ubuntu-latest
    needs:
      - generate-matrix
      - get-date
    permissions:
      contents: write
      pull-requests: write
    strategy:
      matrix:
        pin: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Update pin
        env:
          NPINS_DIRECTORY: pins
        run: |
          nix run --inputs-from .# nixpkgs#npins -- update ${{ matrix.pin }}

      - name: create PR
        uses: peter-evans/create-pull-request@v8
        with:
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          commit-message: |
            chore: update pin `${{ matrix.pin }}` (${{ needs.get-date.outputs.date }})
          title: "chore: update pin `${{ matrix.pin }}`"
          body: Automatic pin `${{ matrix.pin }}` update.
          branch: workflow/update-pin/${{ matrix.pin }}
          delete-branch: true      
